#footer {
    font-size: 14px;
    background-color: darkgoldenrod;
    background-size: cover;
  }
  
  .footer-top {
    padding: 60px 0 30px 0;
    background-color: darkgoldenrod;
    background-size: cover;
  }
  
  .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
  }
  
  .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: white;;
  }
  
  .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 18px;
    line-height: 1;
  }
  
  .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer-top .footer-links ul a {
    color: white;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #47b2e4;
  }
  
 
  .footer-top .social-links a:hover {
    background: blue;
    color: white;;
    text-decoration: none;
  }
  
  .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;;
  }
  
  .copyright {
    float: left;
  }
  
  .credits {
    float: right;
    font-size: 13px;
  }
  
  .credits a {
    transition: 0.3s;
  }
  
  
  .footer-bottom {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
  .copyright,
  .credits {
      text-align: center;
      float: none;
    }
  
    #footer .credits {
      padding-top: 4px;
    }
    .Facebook{
      background: url(https://i.pinimg.com/originals/08/78/1e/08781edde0cb5fdcd82039ce661a5604.jpg);
      color: transparent;
      background-size:55px;
      }
 

   .hannan{
    position: absolute;
    bottom: 850px;
   }
   .hannan1{
    position:relative;
    color: black;
    height: 300px;
    bottom: 400px;
    width: 150px;
    right: 850px;
   }